################################################################
#应用ID和应用密钥在 Eova应用中心 http://www.eova.cn/app 注册获取, 请勿将自己的应用配置泄漏给其它人

#应用ID
app_id = eova4258196472933429
#应用密钥
app_secret = I67IcqanEkNJoqmAaD4k2IHqdWGPRFMBYLtPKBx87DT1CSO6qG32Jif5/og96IehBVwHmmNUjkFphMHWSlWJo35S240O0exkI9/pazNuGITqqJz+QllWDU0vl4Juk4/aASAqDk6SobHZL5Kwwy6PEMUa2QRk7t7FTRndBT6ai2s=
################################################################

#应用域名
app_domain = http://www.bb.cn
#应用LOGO
app_logo = /ui/images/mylogo.png
#应用主页
app_main = /ui2/index.htm

app_name = 积木管理
app_copyright = Powered by BB V1.0 © 2013-2018 苏ICP备18044338号


#是否启用云服务(依托社区云端大数据，人工智能进行数据预处理，节省成吨工作量！)
cloud_service = false;


#创建用户的默认密码
user_df_psw=000000