#默认数据源
main_url = jdbc:mysql://127.0.0.1:3306/bb_demo?characterEncoding=UTF-8&zeroDateTimeBehavior=CONVERT_TO_NULL&useSSL=false&serverTimezone=GMT%2B8
main_user = root
main_pwd = 123456

#Eova数据源
eova_url = jdbc:mysql://127.0.0.1:3306/bb?characterEncoding=UTF-8&zeroDateTimeBehavior=CONVERT_TO_NULL&useSSL=false&serverTimezone=GMT%2B8
eova_user = root
eova_pwd = 123456

#其它数据源连接方式
#oracle_url = jdbc:oracle:thin:@127.0.0.1:1521:ORCL